body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c3bef7;
    padding: 0;
    display: flex;
    margin: 0;
    align-items: right;
    height: 160vh;
    justify-content: center;
}
.container
{
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
}
.book-item p strong 
{
    font-weight: bold;
}
.book-item h3 
{
    margin: 0 0 5px;
    color: #1a73e8;
}
.book-item 
{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
h2 
{
    color: blue;
}